html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

#mainScreen {
    width: 100%;
    height: 100%;
    display: flex;
}

#mainScreen > .lineup {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
}

#mainScreen > .center {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
    flex-direction: row;
}

.score > :not(.spacer) {
    display: inline-block;
    text-align: center;
    padding: 0 12px;
    margin: 4px;
    border-radius: 8px;
    background-color: white;
}

.score > .runs {
    background-color: skyblue;
}

.score > .newRuns {
    background-color: darkseagreen;
}

.buttons, .links {
    text-align: center;
}

.buttons > * {
    min-width: 100px;
    padding: 4px 0;
}

.spacer {
    display: inline;
    flex: 1 0 auto;
}

.big-number {
    font-size: 200%;
}

.batter {
    display: block;
    flex: 0 1 50px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    overflow-y: hidden;
}

.batter > .batterImage {
    float: left;
    width: 50px;
    height: 100%;
    border-radius: 8px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
}

.batter.current {
    background-color: lightgray;
}

#result {
    flex: 0 0 auto;
    text-align: center;
    font-size: 24px;
    height: 70px;
    overflow-y: auto;
}

#outMeter {
    flex: 0 0 16px;
    background-color: darkred;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

#result .batterName {
    font-weight: bold;
}

#tables {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.stateTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
}

.stateTable > * {
    flex: 1 0 10%;
    text-align: center;
}

.stateTable > * > * {
    height: 24px;
}

.stateTable > * > * > * {
    height: 100%;
    border-width: 8px;
    border-style: solid;
    box-sizing: border-box;
}

#runsTable {
    background-color: lightgray;
}

.new {
    background-color: darkseagreen;
}

#characterInfo, #teamSetup {
    box-sizing: border-box;
    background-color: Window;
    color: WindowText;
    position: fixed;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    left: 5%;
    top: 5%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 9px;
    text-align: center;
}

#characterInfo:empty, #teamSetup:empty {
    display: none;
}

#characterInfo img {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin: 25px;
    margin-bottom: 0;
}

#characterInfo .close {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: gray;
    color: white;
}

#teamSetup .main {
    height: calc(100% - 32px);
}

#teamSetup .main {
    height: calc(100% - 32px);
}

#teamSetup textarea {
    width: calc(50% - 10px);
    height: 100%;
    box-sizing: border-box;
}

#teamSetup .buttons {
    margin: 4px;
}

@media screen and (max-width: 740px) {
    #characterInfo {
        width: 100%;
        height: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
    }

    #characterInfo img {
        float: none;
        max-width: calc(100% - 50px);
    }
}

@media screen and (max-width: 470px) {
    #mainScreen > .center {
        flex: 0 0 180px;
    }

    #mainScreen > .center > .buttons:not(:empty) {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    #mainScreen > .center > .buttons > * {
        flex: 1 0 auto;
    }

    .score {
        flex-direction: column;
    }

    .score > :not(.spacer) {
        padding: 0;
        margin-left: 30px;
        margin-right: 30px;
    }

    .score > :first-child {
        margin-left: 10px;
    }

    .score > :last-child {
        margin-right: 10px;
    }

    .score > * > * {
        display: inline;
    }

    .buttons > * {
        min-width: 0px;
        width: 75%;
        max-height: 64px;
    }

    .big-number {
        font-size: 100%;
        font-weight: bold;
    }
}

@media screen and (max-width: 700px) {
    .batter {
        text-align: center;
        padding: 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 1vh;
        align-items: center;
    }

    .batter > * {
        display: none;
    }

    .batter > .batterImage {
        flex: 1 0 auto;
        margin: 0;
    }

    .lineup > .spacer {
        flex-grow: 0;
    }

    .batter.current {
        background-color: black;
    }

    #result {
        height: 40px;
        font-size: 13px;
        min-width: 170px;
    }

    .stateTable > * > * > * {
        border-width: 4px;
    }
}

@media screen and (max-height: 500px) and (min-width: 701px) {
    .batter {
        padding: 0;
    }

    .batterInfo {
        font-size: 75%;
    }
}