#tables {
    flex-direction: row;
    min-height: 248px;
}
.stateTable {
    flex: 0 0 20%;
    flex-direction: column;
}
#basesTable {
    flex-basis: 60%;
}
.stateTable > * {
    display: flex;
    flex-direction: row;
}
.stateTable > * > * {
    flex: 1 0 33.3%;
    flex: 1 0 calc(100% / 3);
}