.lineup {
	width: 200px;
	display: inline-block;
}
.center {
	width: calc(100% - 410px);
	display: inline-block;
}
.stateTable {
	display: inline-table;
	width: 32px;
	vertical-align:bottom;
}
#basesTable {
	width: 96px;
}
.stateTable > * {
	display: table-row;
}
.stateTable > * > * {
	display: table-cell;
	width: 32px;
	height: 32px;
}