html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

#mainScreen {
    width: 100%;
    height: 100%;
    display: flex;
}

#mainScreen > .lineup {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
}

#mainScreen > .center {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
    flex-direction: row;
}

.score > :not(.spacer) {
    display: inline-block;
    text-align: center;
    padding: 0 12px;
    margin: 4px;
    border-radius: 8px;
    background-color: skyblue;
}

.score > .newRuns {
    background-color: darkseagreen;
}

.buttons {
    text-align: center;
}

.buttons > * {
    min-width: 150px;
    padding: 4px 0;
}

.spacer {
    display: inline;
    flex: 1 0 auto;
}

.big-number {
    font-size: 200%;
}

.batter {
    display: flex;
    flex: 0 1 48px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
    overflow-y: hidden;
}

.batter > img {
    flex: 0 1 48px;
    border-radius: 8px;
    margin-right: 8px;
}

.batter > * {
    flex: 1 1 auto;
}

.batter.current {
    background-color: lightgray;
}

#result {
    text-align: center;
    min-height: 150px;
    overflow-y: auto;
}

#result .batterName {
    font-size: 24px;
}

#result .type {
    font-size: 32px;
}

.stateTable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
}

.stateTable > * {
    flex: 1 0 10%;
    text-align: center;
}

.stateTable > * > * {
    height: 24px;
}

.stateTable > * > * > * {
    height: 100%;
}

#runsTable {
    background-color: lightgray;
}

.new {
    background-color: darkseagreen;
}
